[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "*"
pythainlp = "*"
deepcut = "*"
pyspellchecker = "*"
nltk = "*"
opencv-python = "*"
numpy = "==1.19.3"
shapely = "*"
pytesseract = "*"
pdf2image = "*"
scipy = "*"
python-docx = "*"

[dev-packages]

[requires]
python_version = "3.7"
